@import '../../variables';
.nav-header{
    width: 100vw;
    height: 30px;
    transition: .3s;
    border-bottom: 2px solid;
    display:flex;
    justify-content: center;
    font-family: $primary-font-family;
    position:fixed;
    top:0px;
    background-color:white;
}
.slide{
    width: calc(100vw - 60px);
    margin-left: 61px;
}
.header-comp{
    width: calc(100% - 20px);
    height: 100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    font-size: $mobile-font-size;
}

.header-icon:hover{
    cursor: pointer;
}
.menu{
    width: 61px;
    height: 100vh;
    position: fixed;
    left: 0px;
    border-right: 2px solid;
    transition: .3s;
    background-color: white;
}
.sld{
    left: -65px;
}

.nav-logo {
    @include menu;
    width: 20px;
} 

.header-icon{
    @include header;
}
.header-logo{
    @include header;
    justify-content: center;
}
.header-drop{
    @include header;
    justify-content: flex-end;
    transition: .3s;
}
.header-drop:hover{
    cursor: pointer;
}


            .popup-icon{
                width:25px;
                margin-top:5px
            }
            .popup{
                width: 160px;
                height: 150px;
                background-color: white;
                position: fixed;
                top: 50px;
                right: 30px;
                border: 1px solid black;
                display:flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
            .inside-popup{
                height: 40px;
                padding: 5px 0px 5px 0px;
                width: 120px;
                text-align: left;
                display:flex;
                align-items: center;
                @include link;
            }
            .inside-popup:hover{
                cursor: pointer;
            }
            .arrow-up {
                width: 0; 
                height: 0; 
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                border-bottom: 5px solid white;
                position: fixed;
                top: 46px;
                right: 42px;
                z-index: 5;
              }
              .arrow-up-border {
                width: 0; 
                height: 0; 
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                border-bottom: 5px solid black;
                position: fixed;
                top: 45px;
                right: 42px;
              }
              .pop{
                  right: -200px
              }


@media (min-width: $breakpoint-tablet){
    .nav-header{
        height: 50px;
    }
    .header-comp{
        width: calc(100% - 50px);
        font-size: $tablet-font-size;
    }
    .slide{
        width: calc(100vw - 120px);
        margin-left: 120px;
    }
    .menu{
        width: 120px;

    }
    .sld{
        left: -122px;
    }
    .nav-logo {
        width: 40px;
    } 
}

@media (min-width: $breakpoint-desktop){
    .nav-header{
        height: 60px;
    }
    .header-comp{
        width: calc(100% - 60px);
        font-size: $desktop-font-size;
    }
    .slide{
        width: calc(100vw - 295px);
        margin-left: 275px;
    }
    .menu{
        width: 275px;

    }
    .sld{
        left: -277px;
    }
    .nav-logo {
        width: 50px;
    } 
}
