@import './variables';

body.dark{
    @include dark;
}
body.dark a{
    @include dark;
}
body.dark a:hover{
    background-color: $dm-text-color;
    color: $dm-bg-color;
}
body.dark button{
    @include dark;
}
body.dark button:hover{
    background-color: $dm-text-color;
    color: $dm-bg-color;
}
body.dark div{
    @include dark;
}
body.dark input{
    @include dark;
    // background-color: gray;
}
body.dark textarea{
    @include dark;
    // background-color: gray;
}
body.dark::-webkit-scrollbar {
    width: .5em;
}
body.dark::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    // outline: 1px solid slategrey;
    border-radius: 6px;
  }
body.dark div::-webkit-scrollbar {
    width: .5em;
}
body.dark div::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    // outline: 1px solid slategrey;
    border-radius: 6px;
  }
.arrow-up.dark {
border:none;
    top: 42px;
    right: 40px;
    
    
}
.arrow-up-border.dark{
    border-top: 5px solid transparent;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid white;
    position: fixed;
    top: 40px;
    right: 46px;
    z-index:7;
}
.pop.dark{
    right: -200px
}