@import './variables';

//save button
.up-entry-save-button-cont{
    width: 95%;
    display:flex;
    justify-content: flex-end;
    margin: 0 auto;

}
.up-entry-save-button{
    margin: 15px 0px 0px 15px;
    font-size: $mobile-font-size;
    border: 2px solid black;
    transition-duration: 0.5s;
    background-color: white;
    &:hover {
        background-color: $text-color;
        color: $background-color;
    }
}
.up-new-entry{
    width: 90vw;
    height: calc(100vh - 80px);
    margin: 50px auto;
    border: 2px solid black;
}
.up-title-input{
    height: 40px;
    width: 100%;
    @include title-input;
    font-size: 14px;
    &:focus{
    outline: none; 
    }
}
.up-entry-content{
    width: 90%;
    height: calc(100vh - 200px);
    border: none;
    margin-top:15px;
    font-size:$mobile-font-size;
    &:focus{
    outline: none; 
    }
}
.up-title-header{
    width: 95%;
    @include flex-container;
    @include new-entry-header;
    justify-content: space-between;
    margin: 0 auto;
}


//Calender
.up-date-toggle{
    font-size:$mobile-font-size;
    &:hover{
        cursor: pointer;
    }
}

.up-calender{
    width: 250px;
    height: 100px;
    color: $text-color;
    font-size: 11px;
    font-family: monospace;
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index:99;
}


@media (min-width: $breakpoint-tablet){
    .up-new-entry{
        width: 90vw;
        height: calc(100vh - 120px);
        margin: 80px auto;
    }
    .up-title-input{
        height: 50px;
        font-size: 23px;
    }
    .up-date-toggle{
        font-size:$tablet-font-size;
    }
    .up-react-calendar__month-view__days__day {
        font-size: $sec-tablet-font-size;
    }
    .up-calender{
        width: 300px;
        font-size: 18px;
        top: 19vh;
    }
    .up-entry-save-button{
        font-size: 12px;
    }
    .up-entry-content{
        height: calc(100vh - 240px);
        font-size:$sec-tablet-font-size;
    }
}

@media (min-width: $breakpoint-desktop){
    .up-new-entry{
        width: 850px;
        height: 1100px;
        margin: 100px auto;
    }
    .up-title-input{
        height: 70px;
        font-size: 28px;
    }
    .up-date-toggle{
        font-size:$desktop-font-size;

    }
    .up-calender{
        width: 350px;
        font-size: 18px;
        top: 19vh;
    }
    .up-entry-save-button{
        font-size: $sec-desktop-font-size;
    }
    .up-entry-content{
        height: 950px;
        font-size:$desktop-font-size;
    }
}