@import './variables';
.fpw-header{
    @include flex-container;
    padding: 1.5em;
    justify-content: flex-start;
    font-size: $tablet-font-size;
}
.logo {
    width: 35vmin;
    pointer-events: none;
    margin-top: 15px;
} 
.fpw-link{
    @include link;
}
.fpw-box{
    width:500px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $primary-box-color;
    color: $primary-text-color;
    @include flex-container-column;
    font-size: $tablet-font-size;
}
.fpw-box span{
    width: 70vw;
    margin-top: 20px;
}
.fpw-input{
    width: 70vw;
    height: 40px;
    @include auth-input;
    font-size: $tablet-font-size;
    margin-top:30px;
    &:focus{
    background-color: $primary-input-color;
    outline: none;
    border:none;
    }
}
.fpw-button{
    width: 71.5vw;
    height: 40px;
    margin-top: 30px;
    @include auth-button;
    font-size: $tablet-font-size;
    font-family : inherit;
}
.change{
    @include auth-button-change;
}
.fpw-alert{
    height: 80px;
    width: 100vw;
    position: fixed;
    top: 13.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: monospace;
}

@media (min-width: $breakpoint-tablet){
    .fpw-button {
        width: 45vw;
    }
    .fpw-box span{
        width: 45vw;

    }
    .fpw-input {
        width: 45vw;
    }
    .fpw-alert{
        width: 60vw;
        top: 10%;
    }
    
    

}

@media (min-width: $breakpoint-desktop){
    .fpw-box{
        width: 30vw;
        font-size: $desktop-font-size;
    }
    .fpw-box span{
        width: 25vw;

    }
    .fpw-input {
        width: 25vw;
        font-size: $desktop-font-size;
    }
    .fpw-button {
        width: 25.5vw;
        font-size: $desktop-font-size;
    }
    .fpw-alert{
        width: 50vw;
        top: 6%;
    }

}