@import './variables';

.nav-header{
    width: 100vw;
    height: 30px;
    transition: .3s;
    border-bottom: 2px solid;
    display:flex;
    justify-content: center;
    font-family: $primary-font-family;
    position:fixed;
    top:0px;
    background-color:$background-color;
    color: $text-color;
}
.slide{
    width: calc(100vw - 110px);
    margin-left: 110px;
}
.header-comp{
    width: calc(100% - 20px);
    height: 100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    font-size: $mobile-font-size;
}
.menu{
    width: 110px;
    height: 100vh;
    position: fixed;
    left: 0px;
    border-right: 2px solid;
    transition: .3s;
    color: $text-color;
    background-color: $background-color;
}
.menu a{
    color: $text-color;
}

.sld{
    left: -115px;
}

.nav-logo {
    @include menu;
    width: 20px;
} 
.header-icon{
    @include header;
    &:hover{
        cursor: pointer;
    }
}
.header-logo{
    @include header;
    justify-content: center;
}
.header-drop{
    @include header;
    justify-content: flex-end;
    transition: .3s;
    &:hover{
        cursor: pointer;
    }
}
.popup-icon{
    width:25px;
    margin-top:5px
}
.popup{
    width: 120px;
    height: 100px;
    background-color: $background-color;
    position: fixed;
    top: 27px;
    right: 10px;
    border: 1px solid black;
    @include flex-container-column;
}
.inside-popup{
    height: 40px;
    padding: 5px 0px 5px 0px;
    width: 100px;
    text-align: left;
    display:flex;
    align-items: center;
    @include link;
    &:hover{
        cursor: pointer;        
    }
}
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid $background-color;
    position: fixed;
    top: 23px;
    right: 17px;
    z-index: 5;
}
.arrow-up-border {
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid black;
    position: fixed;
    top: 22px;
    right: 17px;
}
.pop{
    right: -200px
}


@media (min-width: $breakpoint-tablet){
    .nav-header{
        height: 50px;
    }
    .header-comp{
        width: calc(100% - 50px);
        font-size: $tablet-font-size;
    }
    .slide{
        width: calc(100vw - 180px);
        margin-left: 180px;
    }
    .menu{
        width: 180px;

    }
    .sld{
        left: -182px;
    }
    .nav-logo {
        width: 40px;
    } 
    .popup{
        width: 160px;
        height: 150px;
        top: 44px;
        right: 25px;
    }
    .inside-popup{
        height: 40px;
        padding: 5px 0px 5px 0px;
        width: 140px;
    }
    .arrow-up {
        top: 41px;
        right: 32px;
        z-index: 5;
    }
    .arrow-up-border {
        top: 40px;
        right: 32px;
    }
    .pop{
        right: -200px
    }
}

@media (min-width: $breakpoint-desktop){
    .nav-header{
        height: 60px;
    }
    .header-comp{
        width: calc(100% - 97px);
        font-size: $desktop-font-size;
    }
    .slide{
        width: calc(100vw - 275px);
        margin-left: 275px;
    }
    .menu{
        width: 275px;

    }
    .sld{
        left: -277px;
    }
    .nav-logo {
        width: 50px;
    } 
    .popup{
        width: 160px;
        height: 150px;
        top: 50px;
        right: 30px;
    }
    .arrow-up {
        top: 46px;
        right: 40px;
    }
    .arrow-up-border {
        top: 45px;
        right: 40px;
    }
    .pop{
        right: -200px
    }
}
