@import './variables';

//save button
.entry-save-button-cont{
    width: 95%;
    display:flex;
    justify-content: flex-end;
    margin: 0 auto;
}
.entry-save-button{
    margin:15px 0px 0px 0px;
    font-size: $mobile-font-size;
    border: 2px solid black;
    transition-duration: 0.5s;
    background-color: white;
}
.entry-save-button:hover {
    background-color: black;
    color: white;
}
//New Entry Flex
.new-entry{
    width: 250px;
    height: 342px;
    margin: 0px auto;
    border: 2px solid black;
}
.title-input{
    height: 40px;
    width: 85%;
    @include title-input;
    font-size: 12px;
    &:focus{
    outline: none; 
    }
}
.entry-content{
    width: 90%;
    height: 100%;
    border: none;
    margin-top:15px;
    font-size:$mobile-font-size;
    line-height: 26.4px;
    &:focus{
    outline: none; 
    }
}
.title-header{
    width: 95%;
    @include flex-container;
    @include new-entry-header;
    justify-content: space-between;
    margin: 0 auto;
}


//Calender
.date-toggle{
    font-size:$mobile-font-size;
}
.date-toggle:hover{
    cursor: pointer;
}

.calender{
    width: 250px;
    height: 100px;
    color: black;
    font-size: 11px;
    font-family: monospace;
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index:99;
}





@media (min-width: $breakpoint-tablet){
    .new-entry{
        width: 525px;
        height: 685px;
        margin: 80px auto;
    }
    .title-input{
        height: 50px;
        font-size: 18px;
    }
    .date-toggle{
        font-size:$tablet-font-size;
    }
    .react-calendar__month-view__days__day {
        font-size: 14px;
    }
    .calender{
        width: 300px;
        font-size: 18px;
        top: 19vh;
    }
    .entry-save-button{
        font-size: 12px;
    }
    .entry-content{
        height: 500px;
        font-size:$tablet-font-size;
    }
}

@media (min-width: $breakpoint-desktop){
    .new-entry{
        width: 850px;
        height: 1100px;
        margin: 100px auto;

    }
    .title-input{
        height: 70px;
        font-size: 23px;
    }
    .date-toggle{
        font-size:$desktop-font-size;

    }
    .calender{
        width: 350px;
        font-size: 18px;
        top: 19vh;
    }
    .entry-save-button{
        font-size: $desktop-font-size;
    }
    .entry-content{
        height: 950px;
        font-size:$sec-desktop-font-size;
    }
}