@import '../../variables';

.entry-cmp{
    width: 100%;
    height: 10%;
    display:flex;
    justify-content: center;
    border-bottom: 1px solid lightgray;
    @include link;
    padding: 1% 0 1% 0;
}
.entry-flx{
    height: 100%;
    width: 70%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align:left;
}
.entry-ttl{

    width: 100%;
    height: 20px;
    color: black;
    word-wrap: break-word;
    overflow:hidden;
    padding: .5% 0 .5% 0;
}
.entry-cntnt{

    width: 100%;
    height: 20px;
    color: rgb(150, 150, 150);
    word-wrap: break-word;
    overflow:hidden;
    padding: .5% 0 .5% 0;
}
.entry-dt{

    height: 100%;
    width: 30%;
    display:flex;
    align-items: center;
    justify-content: center;
    
}
.dashboard{
    margin: 30px auto;
    height: calc(100vh - 100px);
    display:flex;
    flex-direction: column;
    align-items:center;
    font-family: $primary-font-family;
    font-size: $mobile-font-size;
    
  
}
.dash-header{

    width: 60vw;
    height: 10em;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 1px dotted black;
    padding: 1% 0 1% 0;
}
.dash-header-cont{
    width: 60vw;
}
.new-entry-cont{
    display:flex;
    align-items: center;
}
.header-ttl{
    width:100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 1% auto;
    text-align:left;
}
.title-name{
    font-size: 14px;
}
.entry-count{
    font-size: 8px;
}
.new-entry-btn{
    height: 80%;
    width: 180px;
    background-color: white;
    border: 1px solid black;
    transition-duration: 0.5s;
    font-size: $mobile-font-size;
    @include link;
}
.new-entry-btn:hover{
    background-color: black;
    color: white;
}
.search-flex{

    width: 100%;
    display: flex;
    justify-content: center;
    margin: 1% auto;
}
.search-flex input{
    width: 100%;
    font-size: $mobile-font-size;
    font-family : inherit;
}
.search-flex button{
    font-size: $mobile-font-size;
    border: 1px solid black;
    transition-duration: 0.5s;
    background-color: white;
    font-family : inherit;
}
.search-flex button:hover {
    background-color: black;
    color: white;
}

.dashboard-table{
    width: 60vw;
    height: 98%;
    display:flex;
    flex-direction: column;
    margin-top: 2%
}  
.table-header{
    width: 100%;
    height: 6%;
    display:flex;
    justify-content: center;
    border-bottom: 1px solid black;
    @include link;
    padding-bottom: 1%;
}
.header-entry{
    height: 100%;
    width: 70%;
    display:flex;
    align-items: flex-end;
}
.header-date{
    height: 100%;
    width: 30%;
    display:flex;
    justify-content:center;
    align-items: flex-end;
}


@media (min-width: $breakpoint-tablet){
    .dashboard{
        margin: 80px auto;
    }
}
@media (min-width: $breakpoint-desktop){
    .dashboard{
        margin: 60px auto;
        height: calc(100vh - 60px);
        font-size: $desktop-font-size;
    }
    .dash-header{
        width: 40vw;
        border-bottom: 1px dotted black;
    }
    .dash-header-cont{
        width: 40vw;
    }
    .title-name{
        font-size: 28px;
    }
    .entry-count{
        font-size: $tablet-font-size;
    }
    .new-entry-btn{
        font-size: $desktop-font-size;
    }
    .search-flex{
        margin: 1% auto;
    }
    .search-flex input{
        font-size: $desktop-font-size;
    }
    .search-flex button{
        font-size: $desktop-font-size;
    }
    .dashboard-table{
        width: 40vw;
        margin-top: 1%;
    }  
    


}