@import '../../variables';

.navbar{
    width: 100px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    padding-top:20px;
    // background-color: red;
    border-right: 2px solid;
    
}

.nav-logo {
    @include nav;
    width: 90px;
} 
.nav-user{
    @include nav;
}
.nav-home{
    @include nav;
}
.nav-new-entry{
    @include nav;
}
.logout-button{
    @include nav;
    position: absolute;
    bottom: 50px;
}

