@import '../../variables';

.logo {
    width: 40vmin;
    pointer-events: none;
} 
.header{
    height: 50px;
    padding: 20px;
    @include flex-container;
    justify-content: flex-end;
}
.auth-box{
    // height: 600px;
    // width: 500px;
    position: fixed;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    background-color: $primary-box-color;
    color: $primary-text-color;
    @include flex-container-column;
    
}

.input{
    width: 70vw;
    height: 40px;
    @include auth-input;
}
.input:focus{
    background-color: $primary-input-color;
    outline: none;
    border-radius: 3px;
    border:none;
    
}
::placeholder{
    color: rgb(175, 175, 175);
}
.button{
    width: 71.5vw;
    height: 40px;
    margin-top: 30px;
    @include auth-button;
}
.button-change{
    width: 71.5vw;
    height: 40px;
    margin-top: 30px;
    @include auth-button-change;
}
.link{
    margin-top: 30px;
}
.link a{
    font-size: $primary-font-size;
    text-decoration: none;
    color: black;
}


@media (min-width: $breakpoint-tablet){
    .input {
        width: 45vw;
    }
    .button {
        width: 45vw;
    }
    .button-change {
        width: 46vw;
    }
}

@media (min-width: $breakpoint-desktop){
    .input {
        width: 30vw;
    }
    .button {
        width: 30vw;
    }
    .button-change {
        width: 31vw;
    }
}

